# Build output
/target/
*.class
*.war
*.ear

/lib/javafx-sdk-*/
/lib/*.jar

# Logs
*.log

# Maven (optional)
.mvn/

# IDE: IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# IDE: VS Code
.vscode/

# IDE: Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
*~
